{% extends "layout.html" %}

{% block content %}
<div class="row">
    <div class="col s12 offset-xl2 xl4">
        <div class="card large hoverable">
            <div class="card-image">
                <img src="images/dienstleistungen.jpg">
                <span class="card-title red">Bossnet als Allrounder</span>
            </div>
            <div class="card-content">
                <p>Wir bieten verschiedenste Dienstleistungen im IT-Bereich. Von PC oder Mac Reparaturen, bis zur Entwicklung einer eigenen Webseite.</p>
            </div>
            <div class="card-action">
                <a href="/services">Zu den Dienstleistungen</a>
            </div>
        </div>
    </div>

    <div class="col s12 xl4">
        <div class="card large hoverable">
            <div class="card-image">
                <img src="images/contact.jpg">
                <span class="card-title red">Kontakt</span>
            </div>
            <div class="card-content">
                <p>Bei Interesse, Fragen oder Sonstigem, melden Sie sich doch gleich bei uns.</p>
            </div>
            <div class="card-action">
                <a href="/contact">Zur Kontakseite</a>
            </div>
        </div>
    </div>

</div>

{% endblock %}
