{% extends "layout.html" %}

{% block content %}
<div class="row">
    <div class="col s4">
        <div class="card large">
            <div class="card-image">
                <img src="images/dienstleistungen.jpg">
                <span class="card-title red">Bossnet als Allrounder</span>
            </div>
            <div class="card-content">
                <p>Wir bieten verschiedenste Dienstleistungen im IT-Bereich, von PC/Mac Reparaturen bishin zu Entwicklung einer eigenen Webseite</p>
            </div>
            <div class="card-action">
                <a href="/services">Zu den Dienstleistungen</a>
            </div>
        </div>
    </div>

    <div class="col s4">
        <div class="card large">
            <div class="card-image">
                <img src="images/news.jpg">
                <span class="card-title red">Newsflash</span>
            </div>
            <div class="card-content">
                <p>Sehen sie die neusten Nachrichten über Projekte, die Organisation und anderes an.</p>
            </div>
            <div class="card-action">
                <a href="#">Zu den News</a>
            </div>
        </div>
    </div>

    <div class="col s4">
        <div class="card large">
            <div class="card-image">
                <img src="images/contact.jpg">
                <span class="card-title red">Kontakt</span>
            </div>
            <div class="card-content">
                <p>Bei interesse, fragen oder sonstiges, melden Sie sich doch gleich bei uns.</p>
            </div>
            <div class="card-action">
                <a href="#">Zur Kontakseite</a>
            </div>
        </div>
    </div>

</div>

{% endblock %}
