{% extends "layout.html" %}

{% block breadcrumbs %}
<a href="/sitemap" class="breadcrumb">Impressum</a>
{% endblock %}


{% block content %}
<h1>Impressum</h1>
<div class="col s12 m7">
    <h2 class="header">Webmaster</h2>
    <div class="card horizontal hoverable">
        <div class="card-image">
            <img class="sitemap-image" src="images/webmaster.jpg">
        </div>
        <div class="card-stacked">
            <div class="card-content">
                <p>Diese Seite wurde von Steven Pilatschek und Chiron Boss entwickelt.</p>
                <p>Bei Fragen zu Inhalten der Webseite, kontaktieren Sie <a href="mailto:s.pilatschek@bossnet.ch">s.pilatschek@bossnet.ch</a></p>
            </div>
        </div>
    </div>
</div>
<div class="col s12 m7">
    <h2 class="header">Büro</h2>
    <div class="card horizontal">
        <div class="card-image">
            <img class="sitemap-image hoverable" src="/images/work.jpg">
        </div>
        <div class="card-stacked">
            <div class="card-content">
                <p>Aktuell verfügen wie nicht über ein Büro. Der Kontakt muss im Moment per Email hergestellt werden.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
