#formcontainer {
    transition: all;
    transition-duration: 400ms;
}

#formcontainer.moveOut {
    transform: translateX(100%);
}

#imgcontainer {
    display: none;
    top: 37em;
    transition: all;
    transition-duration: 400ms;
    transform: translateX(-100%);
}

#imgcontainer.moveIn {
    transform: translateX(0);
}


.sitemap-image {
    height: 10em;
}

p {
    font-size: 15pt;
}

.services-p {
    font-size: 13pt;
}

@media screen and (max-width : 1200px) {
    .card-content > p {
        font-size: 18pt;
    }

    .services-p {
        font-size: 14pt !important;
    }
}

@media screen and (max-width : 650px) {
    .card-content > p {
        font-size: 16pt;
    }

    .services-p {
        font-size: 14pt !important;
    }
}

@media screen and (max-width : 530px) {
    .services-p {
        font-size: 12pt !important;
    }
}
